.tooltipPSP {
  position: absolute;
  text-align: center;
  width: 40px !important;
  margin-left: 10px;
  padding: 2px;
  font: 15px sans-serif;
  color: #ffff00;
  background: steelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
.tooltipPGA {
  position: absolute;
  width: 40px !important;
  text-align: center;
  margin-left: 10px;
  padding: 2px;
  font: 15px sans-serif;
  color: #ffff00;
  background: red;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.tooltipProgramPGA {
  position: absolute;
  text-align: center;
  width: 40px !important;
  margin-left: 10px;
  padding: 2px;
  font: 15px sans-serif;
  color: #ffff00;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
